*.dll
*.exe
.DS_Store
terraform.tfplan
terraform.tfstate
bin/
modules-dev/
/pkg/
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
.vscode
*.iml
*.test
*.pem
*.cov
*.html

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

dist
.devcontainer
.vscode
