<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li>
          <a href="/docs/providers/huaweicloud/index.html">HuaweiCloud Provider</a>
        </li>

        <li>
          <a href="#">Anti-DDoS</a>
          <ul class="nav">
            <li>
              <a href="#">Data Sources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/d/antiddos_v1.html">huaweicloud_antiddos_v1</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">API Gateway (APIG)</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/api_gateway_api.html">huaweicloud_api_gateway_api</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/api_gateway_group.html">huaweicloud_api_gateway_group</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Auto Scaling</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/as_configuration_v1.html">huaweicloud_as_configuration_v1</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/as_group_v1.html">huaweicloud_as_group_v1</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/as_policy_v1.html">huaweicloud_as_policy_v1</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Cloud Container Engine (CCE)</a>
          <ul class="nav">
            <li>
              <a href="#">Data Sources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/d/cce_cluster_v3.html">huaweicloud_cce_cluster_v3</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/d/cce_nodes_v3.html">huaweicloud_cce_nodes_v3</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/cce_cluster_v3.html">huaweicloud_cce_cluster_v3</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/cce_nodes_v3.html">huaweicloud_cce_nodes_v3</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Cloud Container Instance (CCI)</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/cci_network_v1.html">huaweicloud_cci_network_v1</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Cloud Data Migration (CDM)</a>
          <ul class="nav">
            <li>
              <a href="#">Data Sources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/d/cdm_flavors_v1.html">huaweicloud_cdm_flavors_v1</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/cdm_cluster_v1.html">huaweicloud_cdm_cluster_v1</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Cloud Eye</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/ces_alarmrule.html">huaweicloud_ces-alarmrule</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Cloud Search Service (CSS)</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/css_cluster_v1.html">huaweicloud_css_cluster_v1</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Cloud Server Backup Service (CSBS)</a>
          <ul class="nav">
            <li>
              <a href="#">Data Sources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/d/csbs_backup_policy_v1.html">huaweicloud_csbs_backup_policy_v1</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/d/csbs_backup_v1.html">huaweicloud_csbs_backup_v1</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/csbs_backup_v1.html">huaweicloud_csbs_backup_v1</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/csbs_backup_policy_v1.html">huaweicloud_csbs_backup_policy_v1</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Cloud Stream</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/cs_cluster_v1.html">huaweicloud_cs_cluster_v1</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/cs_peering_connect_v1.html">huaweicloud_cs_peering_connect_v1</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/cs_route_v1.html">huaweicloud_cs_route_v1</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Cloud Table</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/cloudtable_cluster_v2.html">huaweicloud_cloudtable_cluster_v2</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Cloud Trace Service (CTS)</a>
          <ul class="nav">
            <li>
              <a href="#">Data Sources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/d/cts_tracker_v1.html">huaweicloud_cts_tracker_v1</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/cts_tracker_v1.html">huaweicloud_cts_tracker_v1</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Content Delivery Network (CDN)</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/cdn_domain_v1.html">huaweicloud_cdn_domain_v1</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Data Ingestion Service (DIS)</a>
          <ul class="nav">
            <li>
              <a href="#">Data Sources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/d/dis_partition_v2.html">huaweicloud_dis_partition_v2</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/dis_stream_v2.html">huaweicloud_dis_stream_v2</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Data Lake Insight (DLI)</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/dli_queue_v1.html">huaweicloud_dli_queue_v1</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Data Warehouse Service (DWS)</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/dws_cluster.html">huaweicloud_dws_cluster</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Distributed Cache Service</a>
          <ul class="nav">
            <li>
              <a href="#">Data Sources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/d/dcs_az_v1.html">huaweicloud_dcs_az_v1</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/d/dcs_maintainwindow_v1.html">huaweicloud_dcs_maintainwindow_v1</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/d/dcs_product_v1.html">huaweicloud_dcs_product_v1</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
			    <li>
                  <a href="/docs/providers/huaweicloud/r/dcs_instance_v1.html">huaweicloud_dcs_instance_v1</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Distributed Message Service (DMS)</a>
          <ul class="nav">
            <li>
              <a href="#">Data Sources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/d/dms_az_v1.html">huaweicloud_dms_az_v1</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/d/dms_maintainwindow_v1.html">huaweicloud_dms_maintainwindow_v1</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/d/dms_product_v1.html">huaweicloud_dms_product_v1</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
			    <li>
                  <a href="/docs/providers/huaweicloud/r/dms_group_v1.html">huaweicloud_dms_group_v1</a>
                </li>
			    <li>
                  <a href="/docs/providers/huaweicloud/r/dms_instance_v1.html">huaweicloud_dms_instance_v1</a>
                </li>
			    <li>
                  <a href="/docs/providers/huaweicloud/r/dms_queue_v1.html">huaweicloud_dms_queue_v1</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Document Database Service (DDS)</a>
          <ul class="nav">
            <li>
              <a href="#">Data Sources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/d/dds_flavors_v3.html">huaweicloud_dds_flavors_v3</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
			          <li>
                  <a href="/docs/providers/huaweicloud/r/dds_instance_v3.html">huaweicloud_dds_instance_v3</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Domain Name Service (DNS)</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/dns_ptrrecord_v2.html">huaweicloud_dns_ptrrecord_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/dns_recordset_v2.html">huaweicloud_dns_recordset_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/dns_zone_v2.html">huaweicloud_dns_zone_v2</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Elastic Cloud Server (ECS)</a>
          <ul class="nav">
            <li>
              <a href="#">Data Sources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/d/compute_availability_zones_v2.html">huaweicloud_compute_availability_zones_v2</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/compute_floatingip_v2.html">huaweicloud_compute_floatingip_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/compute_floatingip_associate_v2.html">huaweicloud_compute_floatingip_associate_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/compute_instance_v2.html">huaweicloud_compute_instance_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/compute_interface_attach_v2.html">huaweicloud_compute_interface_attach_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/compute_keypair_v2.html">huaweicloud_compute_keypair_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/compute_secgroup_v2.html">huaweicloud_compute_secgroup_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/compute_servergroup_v2.html">huaweicloud_compute_servergroup_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/compute_volume_attach_v2.html">huaweicloud_compute_volume_attach_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/ecs_instance_v1.html">huaweicloud_ecs_instance_v1</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Elastic Load Balance (Classic)</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/elb_loadbalancer.html">huaweicloud_elb_loadbalancer</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/elb_listener.html">huaweicloud_elb_listener</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/elb_healthcheck.html">huaweicloud_elb_healthcheck</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/elb_backendecs.html">huaweicloud_elb_backendecs</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Elastic Load Balance (Enhanced)</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/lb_certificate_v2.html">huaweicloud_lb_certificate_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/lb_loadbalancer_v2.html">huaweicloud_lb_loadbalancer_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/lb_listener_v2.html">huaweicloud_lb_listener_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/lb_pool_v2.html">huaweicloud_lb_pool_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/lb_member_v2.html">huaweicloud_lb_member_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/lb_monitor_v2.html">huaweicloud_lb_monitor_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/lb_l7policy_v2.html">huaweicloud_lb_l7policy_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/lb_l7rule_v2.html">huaweicloud_lb_l7rule_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/lb_whitelist_v2.html">huaweicloud_lb_whitelist_v2</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Elastic Volume Service (EVS)</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/blockstorage_volume_v2.html">huaweicloud_blockstorage_volume_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/evs_snapshot.html">huaweicloud_evs_snapshot</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">FunctionGraph</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/fgs_function_v2.html">huaweicloud_fgs_function_v2</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">GeminiDB</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/geminidb_instance.html">huaweicloud_geminidb_instance</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Graph Engine Service (GES)</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/ges_graph_v1.html">huaweicloud_ges_graph_v1</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Identity and Access Management (IAM)</a>
          <ul class="nav">
            <li>
              <a href="#">Data Sources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/d/identity_role_v3.html">huaweicloud_identity_role_v3</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/identity_group_v3.html">huaweicloud_identity_group_v3</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/identity_group_membership_v3.html">huaweicloud_identity_group_membership_v3</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/identity_project_v3.html">huaweicloud_identity_project_v3</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/identity_role_assignment_v3.html">huaweicloud_identity_role_assignment_v3</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/identity_user_v3.html">huaweicloud_identity_user_v3</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/iam_agency_v3.html">huaweicloud_iam_agency_v3</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Image Management Service (IMS)</a>
          <ul class="nav">
            <li>
              <a href="#">Data Sources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/d/images_image_v2.html">huaweicloud_images_image_v2</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/images_image_v2.html">huaweicloud_images_image_v2</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Key Management Service (KMS)</a>
          <ul class="nav">
            <li>
              <a href="#">Data Sources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/d/kms_data_key_v1.html">huaweicloud_kms_data_key_v1</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/d/kms_key_v1.html">huaweicloud_kms_key_v1</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/kms_key_v1.html">huaweicloud_kms_key_v1</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Machine Learning Service (MLS)</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/mls_instance.html">huaweicloud_mls_instance</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">MapReduce Service (MRS)</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/mrs_cluster_v1.html">huaweicloud_mrs_cluster_v1</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/mrs_job_v1.html">huaweicloud_mrs_job_v1</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">NAT Gateway (NAT)</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/nat_gateway_v2.html">huaweicloud_nat_gateway_v2</a>
                </li>
                <li<%= sidebar_current("docs-huaweicloud-resource-nat-snat-rule-v2") %>>
                  <a href="/docs/providers/huaweicloud/r/nat_snat_rule_v2.html">huaweicloud_nat_snat_rule_v2</a>
                </li>
                <li<%= sidebar_current("docs-huaweicloud-resource-nat-dnat-rule-v2") %>>
                  <a href="/docs/providers/huaweicloud/r/nat_dnat_rule_v2.html">huaweicloud_nat_dnat_rule_v2</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Network ACL</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/fw_firewall_group_v2.html">huaweicloud_fw_firewall_group_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/fw_policy_v2.html">huaweicloud_fw_policy_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/fw_rule_v2.html">huaweicloud_fw_rule_v2</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Object Storage Migration Service</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/maas_task_v1.html">huaweicloud_maas_task_v1</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Object Storage Service (OBS)</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/obs_bucket.html">huaweicloud_obs_bucket</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/obs_bucket_object.html">huaweicloud_obs_bucket_object</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Relational Database Service (RDS)</a>
          <ul class="nav">
            <li>
              <a href="#">Data Sources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/d/rds_flavors_v1.html">huaweicloud_rds_flavors_v1</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/d/rds_flavors_v3.html">huaweicloud_rds_flavors_v3</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/rds_instance_v1.html">huaweicloud_rds_instance_v1</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/rds_instance_v3.html">huaweicloud_rds_instance_v3</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/rds_parametergroup_v3.html">huaweicloud_rds_parametergroup_v3</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Resources Template Service (RTS)</a>
          <ul class="nav">
            <li>
              <a href="#">Data Sources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/d/rts_software_config_v1.html">huaweicloud_rts_software_config_v1</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/d/rts_stack_resource_v1.html">huaweicloud_rts_stack_resource_v1</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/d/rts_stack_v1.html">huaweicloud_rts_stack_v1</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/rts_stack_v1.html">huaweicloud_rts_stack_v1</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/rts_software_config_v1.html">huaweicloud_rts_software_config_v1</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">S3</a>
          <ul class="nav">
            <li>
              <a href="#">Data Sources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/d/s3_bucket_object.html">huaweicloud_s3_bucket_object</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/s3_bucket.html">huaweicloud_s3_bucket</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/s3_bucket_object.html">huaweicloud_s3_bucket_object</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/s3_bucket_policy.html">huaweicloud_s3_object_policy</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Scalable File Service (SFS)</a>
          <ul class="nav">
            <li>
              <a href="#">Data Sources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/d/sfs_file_sharing_v2.html">huaweicloud_sfs_file_sharing_v2</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/sfs_file_system_v2.html">huaweicloud_sfs_file_system_v2</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Simple Message Notification (SMN)</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/smn_subscription_v2.html">huaweicloud_smn_subscription_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/smn_topic_v2.html">huaweicloud_smn_topic_v2</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Virtual Private Cloud (VPC)</a>
          <ul class="nav">
            <li>
              <a href="#">Data Sources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/d/networking_network_v2.html">huaweicloud_networking_network_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/d/networking_port_v2.html">huaweicloud_networking_port_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/d/networking_secgroup_v2.html">huaweicloud_networking_secgroup_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/d/networking_subnet_v2.html">huaweicloud_networking_subnet_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/d/vpc_v1.html">huaweicloud_vpc_v1</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/d/vpc_peering_v2.html">huaweicloud_vpc_peering_connection_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/d/vpc_route_ids_v2.html">huaweicloud_vpc_route_ids_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/d/vpc_route_v2.html">huaweicloud_vpc_route_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/d/vpc_subnet_v1.html">huaweicloud_vpc_subnet_v1</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/d/vpc_subnet_ids_v1.html">huaweicloud_vpc_subnet_ids_v1</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/networking_floatingip_v2.html">huaweicloud_networking_floatingip_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/networking_floatingip_associate_v2.html">huaweicloud_networking_floatingip_associate_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/networking_network_v2.html">huaweicloud_networking_network_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/networking_port_v2.html">huaweicloud_networking_port_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/networking_router_interface_v2.html">huaweicloud_networking_router_interface_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/networking_router_route_v2.html">huaweicloud_networking_router_route_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/networking_router_v2.html">huaweicloud_networking_router_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/networking_subnet_v2.html">huaweicloud_networking_subnet_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/networking_secgroup_v2.html">huaweicloud_networking_secgroup_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/networking_secgroup_rule_v2.html">huaweicloud_networking_secgroup_rule_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/networking_vip_v2.html">huaweicloud_networking_vip_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/networking_vip_associate_v2.html">huaweicloud_networking_vip_associate_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/vpc_bandwidth_v2.html">huaweicloud_vpc_bandwidth_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/vpc_eip_v1.html">huaweicloud_vpc_eip_v1</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/vpc_v1.html">huaweicloud_vpc_v1</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/vpc_subnet_v1.html">huaweicloud_vpc_subnet_v1</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/vpc_route_v2.html">huaweicloud_vpc_route_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/vpc_peering_v2.html">huaweicloud_vpc_peering_connection_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/vpc_peering_accepter_v2.html">huaweicloud_vpc_peering_connection_accepter_v2</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Virtual Private Network (VPN)</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/vpnaas_ipsec_policy_v2.html">huaweicloud_vpnaas_ipsec_policy_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/vpnaas_ike_policy_v2.html">huaweicloud_vpnaas_ike_policy_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/vpnaas_service_v2.html">huaweicloud_vpnaas_service_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/vpnaas_endpoint_group_v2.html">huaweicloud_vpnaas_endpoint_group_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/vpnaas_site_connection_v2.html">huaweicloud_vpnaas_site_connection_v2</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Volume Backup Service (VBS)</a>
          <ul class="nav">
            <li>
              <a href="#">Data Sources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/d/vbs_backup_policy_v2.html">huaweicloud_vbs_backup_policy_v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/d/vbs_backup_v2.html">huaweicloud_vbs_backup_v2</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/huaweicloud/r/vbs_backup_policy_v2.html">huaweicloud-vbs-backup-policy-v2</a>
                </li>
                <li>
                  <a href="/docs/providers/huaweicloud/r/vbs_backup_v2.html">huaweicloud-vbs-backup-v2</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
